.App {
  text-align: center;
}

.jumboTron {
  color: red;
  background-image: url('https://cdn.topstarnews.net/news/photo/201903/605056_290449_4117.jpg');
  background-size: cover;
  padding: 150px
}